%article#post-id.engagement-ring{ class: [@ring.diamond, @ring.style], data: { price: @ring.raw_price } }

  %header.entry-header.float-text
    %h2.entry-title
      = "From #{@ring.price}"

  .entry-summary
    / TODO: Add lazy images (and get layout working)
    %img{ src: "img/sareen/thumb/#{@ring.view}" }

  %footer.entry-footer.float-text
    %p.entry-meta
      = "#{diamond} diamond"
      %br
      = "Set in 14kt White Gold #{@ring.style} setting"
