- diamond = ring['center stone']
- style = tagify(ring['type'])
%article#post-id.engagement-ring{ class: [diamond, style] }

  %header.entry-header.float-text
    %h2.entry-title
    - if ring['price']['14kt'] == 'N/A'
      = "From #{to_price(ring['price']['18kt'])}"
    - else
      = "From #{to_price(ring['price']['14kt'])}"

  .entry-summary
    / TODO: Add lazy images (and get layout working)
    %img{ src: "img/sareen/royal-cup/thumb/#{ring['views'].last}" }

  %footer.entry-footer.float-text
    %p.entry-meta
      = "#{ring['center diamond']} diamond"
      = "Set in 14kt White Gold #{ring['type']} setting"
