- @title = 'Diamonds'

.row
  .large-8.columns
    .text-center
      :markdown
        # Let us do the hard work for you

        Purchasing a diamond can be a very intimidating process.

        You may only have to do it once in your life, but it's significance means you should take your time and make the right decision.

        Many jewelers might choose to include a large list of diamonds for you so you can try and sift through them to find your *diamond in the rough*.

  .large-4.columns
    .panel.callout.radius
      :markdown
        #### Don't know where to start?

        Our #{page_link('education', 'education section')} is a great place to learn the tricks of the trade.
.row
  .large-12.columns
    .text-center
      :markdown
        ### We choose not to do that.

        ## Why not?

        ### That's what we're here for!

        Our _mission_ is to assist you in the selection of a beautiful diamond!

        We'd be happy to help you out, and we want you to feel comfortable contacting us, so you have a few options:

    :markdown
      * <strong>#{page_link('diamonds/quote', 'Fill out a form, get a quote')}</strong>

      > Yup, it's that easy. Rather than having to brave finding a diamond in the rough yourself, let us help.<br />It's that easy.

      * <strong>#{page_link('contact', 'Fill out a quick contact form')} or #{email('sales', 'Send us an email direct')}</strong>

      > For best results, include a phone number so we can discuss your desires.

      * <strong>#{phone_number('Give us a call')}</strong>

      > On a cell phone, just click and we'll be speaking in seconds.<br ?> Otherwise, pick up your favorite phone and dial #{phone_number}

      ### If your not quite ready to start the diamond journey, feel free to:

      * <strong>#{page_link('education', 'Get Educated')}</strong>

      > Here you can learn important stuff, like [what's important to know when purchasing a diamond](/education/diamonds/). In addition, you'll learn other fun things, like the (not so secret) industry lingo, so you'll know exactly how to describe the thing you liked on that one ring you saw.

      * <strong>#{page_link('engagement-rings', 'Look at a selection of pretty rings')}</strong>

      > Although the custom design process requires you select a diamond first, choosing the right ring can be even trickier. Get a head start by browsing our selection and pick your favorites. We can then remix all of your favorite rings into the custom design of your dreams.
