= yield_content :pre_contact
%fieldset
  %legend Contact Info
  .row
    .large-6.columns
      = field :name
    .large-6.columns
      = field :email
  .row
    .large-6.columns
      = field :state
    .large-6.columns
      = field :phone
.row
  .large-12.columns
    = yield_content :pre_comments
    = field :comments
