- content_for :submit_text do
  #{submit_text}
- @form_data = { id: "email-signup-#{type}", action: "/forms/signup/#{type}/", data: { key: "gdc_su_#{type.slice(0,3)}" } }
- content_for :form do
  %input{ type: 'hidden', name: 'loc', value: [request.path, location].join('|') }
  .row
    .large-12.columns
      %h2
        #{title}
      %label.required
        Name
        %sup
          %span *
          (required)
        %input{ name: 'name',
                type: 'text',
                placeholder: 'Enter your name',
                required: true,
                autocomplete: 'name'}
        %small.error A name is required.
    .large-12.columns
      %label.required
        Email
        %sup
          %span *
          (required)
        %input{ name: 'e-mail',
                type: 'email',
                placeholder: 'myemail@provider.com',
                required: true,
                autocomplete: 'email'}
        %small.error A valid email address is required.
= partial :form
