%footer.row
  .small-12.small-centered.columns
    %hr
    .row
      .small-6.large-3.columns
        %ul.side-nav
          %li
            = page_link('diamonds')
          %li
            = page_link('engagement-rings')
          -# %li
          -#   = page_link('education')
          -# %li
          -#   = page_link('blog')
          %li
            = page_link('policies/privacy', 'Privacy Policy')
      .small-6.large-3.columns
        %ul.side-nav
          %li
            = page_link('policies/returns', 'Return Policy')
          %li
            = page_link('policies/shipping', 'Shipping Policy')
          %li
            = page_link('contact', 'Customer Service')
      .small-12.large-6.columns.text-center
        %h4 Follow Us On
        = partial :social_profiles
    .row
      .small-12.text-center.copyright
        &copy; Copyright 2014 Gale Diamonds Chicago
        %a{ href: url('/policies/terms-of-service/') } Terms & Conditions
