!!! 5
%html.no-js{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title= [@title, 'Gale Diamonds Chicago'].join(' | ')
    %link{ rel: 'stylesheet', href: '/css/app.css' }
    %link{ rel: 'stylesheet', href: '//fonts.googleapis.com/css?family=Open+Sans:400,700' }
    - if settings.development?
      :javascript
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
    = yield_content :styles
    %script{ src: '/bower_components/modernizr/modernizr.js' }
  %body
    .row
      .small-8.columns
        %h1 Gale Diamonds Chicago
        %p Chicago's Diamond Experts
      .small-4.columns
        %p<
          5 N Wabash Ave #403
          %br><
          Chicago, IL, 60602

    = partial :menu
    .row
      .large-12.columns
        = "NO TITLE!!!" if settings.development? && (@title.nil? || @title.empty?)
        = breadcrumbs

    = yield

    = partial :footer

    %script{ src: '/bower_components/jquery/dist/jquery.min.js' }
    %script{ src: '/bower_components/foundation/js/foundation/foundation.js' }
    %script{ src: '/bower_components/foundation/js/foundation/foundation.topbar.js' }
    = yield_content :scripts
    %script{ src: '/js/app.js' }
