- @crumb = @title = "Custom Design"

%h1 Custom Ring Design

%p
  Many customers are happy with some of the designs featured on our #{page_link('engagement-rings', 'engagement rings page')}. However, sometimes you want something a bit more unique and special.

%p
  For those of you who want full control over your ring design, we offer full custom design services. This service is most popular for engagement rings, but we can also design & manufacture bracelets, pendants, and other jewelry.

%p
  If you choose to go the custom route, it can be helpful to have an idea of how the process works.

%p
  There are 4 major steps:

%ul
  %li
    %h2 Brainstorm the Design
    %p
      At this stage, we will look through images of rings and try to find some inspiration for your design. If you see any ideas or designs you like, you can email or bring them in to the office to your appointment. The goal here is to narrow down to a design you'll be happy with.
    %p
      Once we've worked out what your looking for, we will provide you with an estimate and get starting created a CAD file for your ring.
  %li
    %h2 Create the CAD
    %p
      CAD stands for <b>C</b>omputer <b>A</b>ided <b>D</b>esign. Using special computer software, we will create a 3D model of your ring. We will be able to provide you with images of the design, including realistic renderings, so you can have a look at your design before it's made.

    %p
      At this stage, it is very easy to make additional changes to your design. In addition, we will be able to better estimate metal and diamond weights to provide you with a more accurate quote.

    %p
      Once you've approved the CAD file, we move on to the next step.
  %li
    %h2 Print Wax
    %p
      A very expensive and specialized 3D printer is now used to create a wax mold of your design. If you'd like, you can have a look at the wax to see your ring in life size. It won't have diamonds, or be the right color, but compared to the large CAD images, it gives you a better idea of the size and scale of your ring.
    %p
      We are on the home stretch. Once we've given you an opportunity to view the wax, we'll get it into casting as soon as possible.
  %li
    %h2 Casting & Finishing
    %p
      If your ring features diamonds, we will start selecting out only the very best VS quality melee (jewelers term for the small diamonds featured in jewelry), matched to the color of your center stone.
    %p
      During the casting process, the wax is lost. It is used to create a mold, and then melted out. Your choice of metal will be used, and out will pop the rough casting of your ring.
    %p
      At this stage, it will need to be buffed and polished to the shiny perfection that jewelry is known for. Any diamonds, including your center, will then be set.

%h2 Last Steps
%p
  Finally, we will get an independent appraisal for your finished ring, and then everything will be ready to pick up. That's it!

:markdown
  If you are interested in getting a custom designed ring, start with our #{page_link('engagement-rings', 'engagement rings page')} to get some inspiration.

  When you're ready, go ahead and:

  * <strong>#{phone_number('Give us a call')}</strong>

  > On a cell phone, just click and we'll be speaking in seconds.<br ?> Otherwise, pick up your favorite phone and dial #{phone_number}

  * <strong>#{page_link('contact', 'Fill out a quick contact form')} or #{email('sales', 'Send us an email direct')}</strong>

  > For best results, include a phone number so we can discuss your desires.
