- @crumb = @title = @ring.name
- url = url("/engagement-rings/#{@ring.model}/")
- desc = "#{@ring.get('description')} - Model #{@ring.model}: From #{@ring.display_price}"
- content_for :head do
  %meta{ property: "og:title", content: @ring.name }
  %meta{ property: "og:type", content: "product" }
  %meta{ property: "og:price:amount", content: @ring.from_price }
  %meta{ property: "og:price:currency", content: "USD" }
- content_for :scripts do
  %script{ type: 'text/javascript', src: '//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53a1e8af06fe5411', async: true }
  %script{ type: 'text/javascript', src: '//assets.pinterest.com/js/pinit.js' }

.row
  .large-7.columns
    .row
      .medium-8.large-12.columns
        .model{ style: 'position:absolute;font-weight:bold;font-size:2em;z-index:10;color:rgb(64,64,80)' }
          Model #{@ring.model}
        %div.ring-large
          %img{ src: image(@ring.collection, @ring.main_view, :full) }
      -if @ring.views.length > 1
        .medium-4.large-12.columns
          %ul.small-block-grid-3.medium-block-grid-2.large-block-grid-3.ring-thumbs
            - @ring.views.each_with_index do |view, i|
              %li
                %a.th.radius{ href: image(@ring.collection, view, :full) }
                  %img{ src: image(@ring.collection, view), title: "#{@ring.name} #{i}" }
  .large-1.columns.text-center
    .addthis_sharing_toolbox
      = partial :'social/pin_button', locals: { url: url(url),
                                              img: url(image(@ring.collection, @ring.main_view, :full)),
                                              desc: desc}
  .large-4.columns
    = partial :pricing_table
