- @crumb = @title = @ring.name

.row
  .large-8.columns
    .row
      .medium-8.large-12.columns.show-for-medium-up
        %div.ring-large
          %img{ src: sareen_image(@ring.collection, @ring.main_view, :full) }
      .small-10.small-centered.medium-4.large-12.columns
        %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3.ring-thumbs
          - @ring.views.each_with_index do |view, i|
            %li
              %a.th.radius{ href: sareen_image(@ring.collection, view, :full) }
                %img{ src: sareen_image(@ring.collection, view), title: "#{@ring.name} #{i}" }
  .large-4.columns
    %ul.pricing-table
      %li.title #{@ring.name}
      %li.price From #{@ring.display_price}
      %li.description #{@ring.get('description')}
      %li.bullet-item Shown with #{titlecase(@ring.diamond)} Center Stone
      %li.bullet-item
        #{@ring.get('total stones')} #{titlecase(@ring.all_side_stones)} Side Stones
        %br
        #{@ring.tcw}ct Total Weight
      %li.bullet-item From the #{@ring.get('vendor')} #{@ring.collection} Collection
      %li.bullet-item Featuring a #{@ring.style} Design
      %li.bullet-item
        - if @ring.tapered?
          Width: #{@ring.top_width}mm
        - else
          Tapered from #{@ring.top_width}mm to #{@ring.tapered_width}mm
      %li.bullet-item Model ##{@ring.model}

      %li.cta-button
        - @form_data = { id: 'product-inquiry', action: "/engagement-rings/inquiry/" }
        - content_for :submit_text do
          Submit Inquiry
        - content_for :form do
          = partial :contact
        #inquiry-modal.reveal-modal.medium{ data: { reveal: true } }
          = partial :form
          %a.close-reveal-modal &#215;
        %input{ type: 'hidden', name: 'model-number', value: @ring.model, form: 'product-inquiry' }
        %label
          Available Metals
          %select{ name: 'selected-metal', form: 'product-inquiry' }
            - @ring.prices.each do |metal, price|
              - next if price == "N/A"
              %option{ value: "#{metal}/#{price}" } #{metal}: #{to_price(price)}
        %a.button{ href: '#', data: { reveal_id: 'inquiry-modal'} } I like this ring!
